if [ -e /sys/power/resume ];then
	hibernate="true"
	echo hibernate is possible
fi
lockcmd="loginctl lock-session"
sleepcmd="systemctl suspend"
hibernatecmd="systemctl hibernate"
rebootcmd="systemctl reboot"
poweroffcmd="systemctl poweroff"
no="exit"



### Sessions
# Most are untested so please submit a pull or bug report if one doesn't work
case $currentwm in
	bspwm )         exitcurrentwm="bspc quit" ;;
	dwm )           exitcurrentwm="pkill dwm && pkill xinit" ;;
	hyprland )      exitcurrentwm="hyprctl dispatch exit" ;;
	i3 )            exitcurrentwm="i3-msg exit" ;;
	openbox )       exitcurrentwm="openbox --exit" ;;
	qtile )         exitcurrentwm="qtile cmd-obj -o cmd -f shutdown" ;;
	sway )          exitcurrentwm="swaymsg exit" ;;
	
	"kill literally everything dude" ) exitcurrentwm="loginctl kill-session $XDG_SESSION_ID" ;;

esac
